@page
@model ShopManagementSystem.Pages.Admin.Customers.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout_Admin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>UsersRole</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Users.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Users.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Users.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Users.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Users.EmailConfirmed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Users.EmailConfirmed)
        </dd>
         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Users.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Users.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Users.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Users.LastName)
        </dd>
         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Users.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Users.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Users.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Users.Address)
        </dd>
         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Users.ZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Users.ZipCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
