@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <div id="top-information" class=" d-flex justify-content-center">
        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                        <img src="~/images/Groceries.png" class="d-block w-100 h-100" alt="Grocery Products">
                    <div class="carousel-button-container">
                        <button type="button" class="btn btn-outline-light"><a asp-page="/Products" asp-route-category="grocery" style="text-decoration: none; color: black;">View Products</a></button>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/images/Furniture.png" class="d-block w-100 h-100" alt="Furniture Products">
                   <div class="carousel-button-container">
                        <button type="button" class="btn btn-outline-light"><a asp-page="/Products" asp-route-category="homeFurnitureAndAppliances" style="text-decoration: none; color: black;">View Products</a></button>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/images/Garden.png" class="d-block w-100 h-100" alt="Garden Products">
                    <div class="carousel-button-container">
                        <button type="button" class="btn btn-outline-light"><a asp-page="/Products" asp-route-category="gardenAndAuto" style="text-decoration: none; color: black;">View Products</a></button>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/images/personalCareAndBeauty.png" class="d-block w-100 h-100" alt="Beauty Products">
                    <div class="carousel-button-container">
                        <button type="button" class="btn btn-outline-light"><a asp-page="/Products" asp-route-category="personalCareAndBeauty" style="text-decoration: none; color: black;">View Products</a></button>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
   </div>
   <div id="popular-products-list">

   </div>
   <div id="products-list">
       @foreach(var category in Model.MainCategories)
        {
            var productCategories = Model.ProductCategory.Where(i => i.CategoryName == category);   
            @if (productCategories.Count() > 0)
            {
                 var modifiedCategoryName = category.Replace(" ", "-").Replace("&", "").Replace("--", "-").Replace(",", "");
             <div id="category-@modifiedCategoryName">
                <div id="name-@modifiedCategoryName">
                    <p>@category</p>
                 </div>
             </div>
                <div id="container-@modifiedCategoryName">
                @foreach (var productCategory in productCategories)
                {
                    var products = Model.Product.Where(i => i.Id == productCategory.ProductId).ToList();
                    var productsInventory = Model.ProductInventory.Where(i => i.ProductId == productCategory.ProductId).ToList();
                        @for(int i = 0; i < products.Count(); i++)
                        {
                            <a asp-page="/ProductDetails" asp-route-Id="@products[i].Id">
                            <div class="products-allList">
                                <div class="product-image">
                                  <img src="~/images/@products[i].ProductImage" alt="Product Image">
                                </div>
                                <div class="product-name">
                                    <p>@products[i].ProductName</p>
                                </div>
                                <div class="product-status">
                                    @switch (productsInventory[i].Status)
                                     {
                                      case 1:
                                         <p>In Stock</p>
                                        break;
                                      case 2:
                                         <p>Out of Stock</p>
                                       break;
                                      case 3:
                                       <p>Out of Stock - Seasonal</p>
                                          break;
                                      default:
                                         <p>Unknown Status</p>
                                      break;
                                     }
                                </div>
                                <div class="product-price">
                                   <p>@productsInventory[i].RetailPrice</p>
                                </div>
                            </div>
                            </a>
                                <div class="add-cart">
                                    <form method="post" asp-page-handler="AddToCart">
                                        <input type="hidden" name="productId" value="@products[i].Id" />
                                    <button type="submit" @(productsInventory[i].Status == 2 ||productsInventory[i].Status == 3 || productsInventory[i].Quantity == 0 ? "disabled" : "")>Add</button>
                                    </form>
                                </div>
                        }
                    }
                </div>       
            }          
        }
    </div>
</div>

<script src="~/js/saveScrollPosition.js" asp-append-version="true"></script>

