@page
@model ShopManagementSystem.Pages.ProductsModel

@{
    ViewData["Title"] = "Products";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="page-container">
    <div class="header">
        @if (Model.Category == "")
        {
            <p>Home</p>
        }
        else if (Model.Subcategory.Count == 0)
        {
            <p>Home > @Model.GetCategoryDisplayName(Model.Category)</p>
        }
        else if (Model.NestedCategory.Count == 0)
        {
            <p>
                Home > @Model.GetCategoryDisplayName(Model.Category) > @foreach (var subcategory in Model.Subcategory)
                {

                    @Model.GetSubCategoryDisplayName(subcategory)
                    if (subcategory != Model.Subcategory.Last())
                    {
                        @: >
                    }
                }
            </p>
        }
        else
        {
            <p>
                Home > @Model.GetCategoryDisplayName(Model.Category) > @foreach (var subcategory in Model.Subcategory)
                {

                    @Model.GetSubCategoryDisplayName(subcategory)
                    if (subcategory != Model.Subcategory.Last())
                    {
                        @: >
                    }
                } > @foreach (var nestedCategory in Model.NestedCategory)
                {
                    @Model.GetNestedCategoryDisplayName(nestedCategory)
                    if (nestedCategory != Model.NestedCategory.Last())
                    {
                        @: >
                    }
                }
            </p>
        }
    </div>

    <div class="container">
        <form method="post" asp-page="/Products" asp-page-handler="FilterProducts">
            <div class="filter-list">
                <input type="submit" value="Apply Filters" />
                <input id="chosen-category" type="hidden" name="Category" value="@Model.GetCategoryDisplayName(Model.Category)" />
                @if (Model.Subcategory.Count == 0)
                {
                    <div id="filter-for-subcategory">
                        <div class="label-for-filter">
                            <label id="label-for-subcategory" class="label-for-filter-value">
                                Subcategories
                            </label>
                        </div>
                        <div id="subcategory-filters-container" class="hidden">
                        </div>
                    </div>
                }
                else if(Model.NestedCategory.Count == 0)
                {
                    @foreach (var subcategory in Model.Subcategory)
                    {
                        <input class="chosen-subcategory" type="hidden" name="Subcategory" value="@Model.GetSubCategoryDisplayName(subcategory)" />
                    }
                    <div id="filter-for-nestedcategory">
                        <div class="label-for-filter">
                            <label id="label-for-nestedcategory" class="label-for-filter-value">
                                Product Type
                            </label>
                        </div>
                        <div id="nestedcategory-filters-container" class="hidden">
                        </div>
                    </div>
                }
                <div id="filter-for-brand">
                </div>
                <div id="filter-for-price">
                </div>
            </div>
        </form>
        <div class="product-display">
            @for (int i = 0; i < Model.Product.Count(); i++)
            {
                var productInventory = Model.ProductInventory.FirstOrDefault(pi => pi.ProductId == Model.Product[i].Id);
                <a asp-page="/ProductDetails" asp-route-Id="@Model.Product[i].Id">
                    <div class="products-allList">
                        <div class="product-image">
                            <img src="~/images/@Model.Product[i].ProductImage" alt="Product Image">
                        </div>
                        <div class="product-name">
                            <p>@Model.Product[i].ProductName</p>
                        </div>
                        <div class="product-status">
                            @switch (productInventory.Status)
                            {
                                case 1:
                                    <p>In Stock</p>
                                    break;
                                case 2:
                                    <p>Out of Stock</p>
                                    break;
                                case 3:
                                    <p>Out of Stock - Seasonal</p>
                                    break;
                                default:
                                    <p>Unknown Status</p>
                                    break;
                            }
                        </div>
                        <div class="product-price">
                            <p>@productInventory.RetailPrice</p>
                        </div>
                    </div>
                </a>
                <div class="add-cart">
                    <form method="post" asp-page-handler="AddToCart">
                        <input type="hidden" name="productId" value="@productInventory.Id" />
                        <button type="submit" @(productInventory.Status == 2 ||productInventory.Status == 3 || productInventory.Quantity == 0 ? "disabled" : "")>Add</button>
                    </form>
                </div>
            }
        </div>
    </div>
</div>

<script src="~/js/filters.js" asp-append-version="true"></script>