@page
@model ShopManagementSystem.Pages.ProductsModel

@{
    ViewData["Title"] = "Products";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="page-container">
<div class="header">
    @if(Model.Category == "")
        {
            <p>Home</p>
        }
        else if(Model.Subcategory == "")
        {
            <p>Home > @Model.GetCategoryDisplayName(Model.Category)</p>
        }
        else if(Model.NestedCategory == "")
        {
             <p>Home > @Model.GetCategoryDisplayName(Model.Category) > @Model.GetSubCategoryDisplayName(Model.Subcategory)</p>
        }
        else{
        <p>Home > @Model.GetCategoryDisplayName(Model.Category) > @Model.GetSubCategoryDisplayName(Model.Subcategory) > @Model.GetNestedCategoryDisplayName(Model.NestedCategory)</p>
        }
</div>

<div class="container">
    <div class="filter-list">

    </div>
    <div class="product-display">
            @foreach (var item in Model.Product)
            {
                <div class="item">
                    @Html.DisplayFor(modelItem => item.ProductImage)
                    <div class="item-description">
                        @Html.DisplayFor(modelItem => item.ProductDescription);
                    </div>
                    <div class="item-price">
                        @Html.DisplayFor(modelItem => item.Price)
                    </div>
                </div>
            }
        </div>
</div>
</div>

