@page
@model ShopManagementSystem.Pages.ProductsModel

@{
    ViewData["Title"] = "Products";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="page-container">
    <div class="header">
        @if (Model.Category == "")
        {
            <p>  <img class="cane-icon-image" src="~/images/lemiWithACane.png" alt="Logo" /></p>
        }
        else if (Model.Subcategory.Count == 0)
        {
            <p>  <img class="cane-icon-image" src="~/images/lemiWithACane.png" alt="Logo" /> > @Model.GetCategoryDisplayName(Model.Category)</p>
        }
        else if (Model.NestedCategory.Count == 0)
        {
            <p>
                <img class="cane-icon-image" src="~/images/lemiWithACane.png" alt="Logo" /> > @Model.GetCategoryDisplayName(Model.Category) > @foreach (var subcategory in Model.Subcategory)
                {

                    @Model.GetSubCategoryDisplayName(subcategory)
                    if (subcategory != Model.Subcategory.Last())
                    {
                        @: >
                    }
                }
            </p>
        }
        else
        {
            <p>
                <img class="cane-icon-image" src="~/images/lemiWithACane.png" alt="Logo" /> > @Model.GetCategoryDisplayName(Model.Category) > @foreach (var subcategory in Model.Subcategory)
                {

                    @Model.GetSubCategoryDisplayName(subcategory)
                    if (subcategory != Model.Subcategory.Last())
                    {
                        @: >
                    }
                } > @foreach (var nestedCategory in Model.NestedCategory)
                {
                    @Model.GetNestedCategoryDisplayName(nestedCategory)
                    if (nestedCategory != Model.NestedCategory.Last())
                    {
                        @: >
                    }
                }
            </p>
        }
    </div>

    <div class="category-page-container">
        <form method="post" asp-page="/Products" asp-page-handler="FilterProducts">
            <div class="filter-list">
               <button class="btn btn-info" type="submit">Apply Filters</button>
                <input id="chosen-category" type="hidden" name="Category" value="@Model.GetCategoryDisplayName(Model.Category)" />
                @if (Model.Subcategory.Count == 0)
                {
                    <div id="filter-for-subcategory">
                        <div class="label-for-filter">
                          <img class="animated-icon-image" src="~/images/seeMoreIcon.gif" alt="Logo" />
                           <h4 id="label-for-subcategory" class="hover-effect">Subcategory</h4>
                        </div>
                        <div id="subcategory-filters-container" class="hidden">
                        </div>
                    </div>
                }
                else if(Model.NestedCategory.Count == 0)
                {
                    @foreach (var subcategory in Model.Subcategory)
                    {
                        <input class="chosen-subcategory" type="hidden" name="Subcategory" value="@Model.GetSubCategoryDisplayName(subcategory)" />
                    }
                    <div id="filter-for-nestedcategory">
                        <div class="label-for-filter">
                           
                                <img class="animated-icon-image" src="~/images/seeMoreIcon.gif" alt="Logo" />
                                <h4 id="label-for-nestedcategory" class="hover-effect">Product Type</h4>
                          
                        </div>
                        <div id="nestedcategory-filters-container" class="hidden">
                        </div>
                    </div>
                }
                <div id="filter-for-brand">
                    <div class="label-for-filter">
                       
                            <img class="animated-icon-image" src="~/images/seeMoreIcon.gif" alt="Logo" />
                            <h4 id="label-for-brand" class="hover-effect">Brand</h4>
                       
                    </div>
                    <div id="brand-filters-container" class="hidden">
                    </div>
                </div>
                <div id="filter-for-price">
                </div>
            </div>
        </form>
        <div class="product-display">
            @for (int i = 0; i < Model.Product.Count(); i++)
            {
                var productInventory = Model.ProductInventory.FirstOrDefault(pi => pi.ProductId == Model.Product[i].Id);
                <div class="product-item">
                <a asp-page="/ProductDetails" asp-route-Id="@Model.Product[i].Id">
                   
                        <div class="product-image">
                            <img src="~/images/@Model.Product[i].ProductImage" alt="Product Image">
                        </div>
                        <div class="product-name">
                            <p>@Model.Product[i].ProductName</p>
                        </div>
                        <div class="product-status">
                            @switch (productInventory.Status)
                            {
                                case 1:
                                    <p>Status: In Stock  <img class="icon-image" src="~/images/checkIcon.png" alt="Logo" /></p>
                                    break;
                                case 2:
                                    <p>Status: Out of Stock  <img class="icon-image" src="~/images/crossIcon.png" alt="Logo" /></p>
                                    break;
                                case 3:
                                    <p>Status: Out of Stock - Seasonal  <img class="icon-image" src="~/images/waitIcon.png" alt="Logo" /></p>
                                    break;
                                default:
                                    <p>Status: Unknown Status</p>
                                    break;
                            }
                        </div>
                        <div class="product-price">
                            <p>@productInventory.RetailPrice</p>
                        </div>
                   
                </a>
                <div class="add-cart">
                    <form method="post" asp-page-handler="AddToCart">
                        <form method="post" asp-page-handler="AddToCart">
                            <input type="hidden" name="productId" value="@productInventory.Id" />
                            <button type="submit" class="btn btn-success" @(productInventory.Status == 2 || productInventory.Status == 3 || productInventory.Quantity == 0 ? "disabled" : "")>
                                +<img class="icon-image" src="~/images/addCartIcon.png" alt="Logo" />
                            </button>
                        </form>
                    </form>
                </div>
             </div>
            }
        </div>
    </div>
</div>

<script src="~/js/filters.js" asp-append-version="true"></script>