@page
@model ShopManagementSystem.Pages.ProductsModel

@{
    ViewData["Title"] = "Products";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="page-container">
@*<div class="header">
    <p>home sign > @Model.GetCategoryDisplayName(Model.Category)</p>
</div>*@

<div class="container">
    <div class="filter-list">

    </div>
    <div class="product-display">
            @foreach (var item in Model.Product)
            {
                <div class="item">
                    @Html.DisplayFor(modelItem => item.Image)
                    <div class="item-description">
                        @Html.DisplayFor(modelItem => item.Description);
                    </div>
                    <div class="item-price">
                        @Html.DisplayFor(modelItem => item.Price)
                    </div>
                </div>
            }
        </div>
</div>
</div>

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductSubcategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductSubcategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>
}
    </tbody>
</table>*@
