@page "{searchString?}"
@model ShopManagementSystem.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout_Admin.cshtml";
}
<div class="title-name">
<img class="animated-icon-image" src="~/images/seeMoreIcon.gif" alt="Logo" />
<h1 class="hover-effect">Product Management</h1>
</div>

<p>
    <a class="adminBtn" asp-page="Create">Create New</a>
</p>

<form>
    <p>
        Product Name: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Price) without TVA
            </th>
            <th>
                Price with TVA
            </th>
            <th>
                Product Image
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        var inventoryItem = Model.ProductInventory.FirstOrDefault(i => i.ProductId == item.Id);
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td class="price">
               $@Html.DisplayFor( modelItem => item.Price) 
            </td>
             <td class="price">
                $@Html.DisplayFor( modelItem => inventoryItem.RetailPrice) 
            </td>
            <td>
               <img src="~/images/@item.ProductImage" alt="Product Image" width="150" height="150"/>
            </td>
            <td>
                <a class="adminBtn" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="adminBtn" asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a class="adminBtn"  asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
